@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.button-primary {
  color: #fff !important;
  background: #00a88a !important;
  width: 300px;
  height: 50px;
  border: 2px solid transparent !important;
  transition: all 0.3s ease;
}

.button-primary:hover {
  background: transparent !important;
  color: #00a88a !important;
  border: 2px solid #00a88a !important;
}

.button-question {
  background-color: transparent !important;
  color: #00a88a !important;
  border: 2px solid #00a88a !important;
  transition: all 0.3s ease !important;
}

.button-question:hover {
  background-color: #00a88a !important;
  color: #fff !important;
  border: 2px solid #00a88a !important;
}
